tbody, td, tfoot, th, thead, tr {
    padding: 5px 10px !important;
    white-space: nowrap;
}
th{
    background: #18738f !important;
    position: sticky;
    color: white;
    align-items: center;
}
.main-heading{
    background: #c76767 !important;
    border-radius: 2px;
    padding: 2px !important;
}
.btn-primary {
    color: #fff;
    background-color: #05688f;
    border-color: #05688f;
    height: 28px;
    padding: 0px 8px !important;
}
.btn-danger {
    color: #fff;
    background-color: #c9385c;
    border-color: #c9385c;
    height: 28px;
    padding: 0px 8px !important;
}
.btn-success {
    color: #fff;
    background-color: #ee400b;
    border-color: #ee400b;
    height: 28px;
    padding: 0px 8px !important;
  }
  .table-border{
    border: 1px solid black;
    border-radius: 5px;
  }